<div class="container">
  <h3>Planogram Details:</h3>
  <div class="details-wrapper">
    <div>
      <p><b>Planogram id:</b> {{data?.booth_id}}</p>
      <p><b>Planogram name:</b> {{data?.booth_name}}</p>
      <p><b>Group Number:</b> {{data?.groupNumber}}</p>
      <p><b>Program number:</b> {{data?.program_number}}</p>
      <p><b>Price:</b> {{data?.special_price | number: '1.2-2'}}</p>
    </div>
  </div>

  <h3>Planogram Items:</h3>
  <div class="items-wrapper">
    <div class="item" *ngFor="let item of data?.items">
      <div>
        <p><b>Line Sequence:</b> {{item?.line_seq}}</p>
        <p><b>Quantity:</b> {{item?.quantity}}</p>
        <p><b>SKU:</b> {{item?.sku}}</p>
      </div>
    </div>
  </div>
</div>
