pog-list {
  .container {
    margin: 10px;

    p {
      margin: 0 0 10px;
    }

    .details-wrapper {
      display: flex;

      & > div:first-child {
        margin: 0 10px 0 0;
      }
    }
    .items-wrapper {
      .item {
        display: flex;
        margin: 0 0 10px;
        border-bottom: 1px solid;

        & > div:first-child {
          margin: 0 10px 0 0;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }
}
