<button ion-item [disabled]= "label? 'true': null" [ngClass]="label?'details':''"
        [attr.detail-none]="label? 'true': null"
        [attr.no-lines]="label ? 'true': null">
  <div class="header container">
    <p>{{"orders_history_program" | translate}}: </p>
    <p class="program-name">{{purchase.program_name}}</p>
    <p>{{purchase.program_no ? ' (' + purchase.program_no + ')': '' }}</p>
  </div>

  <div class="info container">
    <div class="purchase-row">
      <div class="info-cel">
        <p>{{"orders_history_order" | translate}}: </p>
        <p>{{purchase.confirmation}}</p>
      </div>
      <div class="info-cel">
        <p>{{"orders_history_date" | translate}}:</p>
        <p>{{purchase.date}}</p>
      </div>
      <div class="info-cel">
        <p>{{"orders_history_type" | translate}}:</p>
        <p>{{purchaseType | translate}}</p>
      </div>
    </div>

    <div class="purchase-row">
      <div class="info-cel">
        <p>{{"orders_history_po" | translate}}:</p>
        <p>{{purchase.po ? purchase.po : 'N/A' }}</p>
      </div>
      <div class="info-cel">
        <p>{{"order_review_location" | translate}}:</p>
        <p>{{purchase.location}}</p>
      </div>
      <div class="info-cel">
        <p>{{"order_confirmation_total" | translate}}:
        <p>{{purchase.total | number: '1.1-2'}}</p>
      </div>
    </div>
  </div>
</button>
