<ion-header class="vendor-nav-header">
  <ion-navbar>
    <ion-title>{{"dropship_checkout" | translate | uppercase}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="handleScan()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <search-bar [showBackButton]="false" (searched)="handleSearch($event)"></search-bar>
</ion-header>

<ion-content class="checkout-dropship-content">
  <div class="continue-shopping" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon> {{"dropship_checkout_continue_shopping" | translate}}
  </div>

  <checkbox-card
    *ngFor="let item of checkoutItems"
    [data]="item"
    [isSelected]="true"
    [isCheckout]="true"
  ></checkbox-card>

  <div *ngIf="!checkoutItems.length" class="empty-checkout">
    <ion-icon name="cart"></ion-icon>
    <h3>{{"dropship_checkout_empty_cart" | translate}}</h3>
  </div>

  <checkout-overlay [isCheckout]="true"></checkout-overlay>
</ion-content>
