@import "../../theme/variables";

shopping-list-product {

  ion-item{
    display:flex;
    .item-inner{
      padding-right: 0px!important;
    }
  }

  ion-label{
   // max-width: 90%!important;
    flex-grow: 2;
  }


  
  .ion-item-border {
    padding-bottom: $ion-app-padding !important;
    padding-left: $ion-app-padding !important;
    padding-right: $ion-app-padding !important;
    padding-top: 10px;
    border-bottom: 1px solid lightgray !important;

    &.active {
      background: white;
      .item-inner {
        background: white;
      }
    }
    &.expired {
      background: color($colors, OrgillWhiteGray);
      .item-inner {
        background: color($colors, OrgillWhiteGray);
      }
    }
    .label {
      margin: 0;
      button {
        padding: 0;
        margin: 0;
      }

      .quantity {
        margin-top:auto;
        margin-bottom:auto;
        //margin-left:10px;
        padding-top:3px;
        width: 20%;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        p {
          color: black;
          @include responsive-font($font-size-medium, $font-size-small);
        }
      }

      .shopping-list-container {
        display: flex;
        flex: 1;
        .img-container {
          max-width: 20%;
          max-height: 20%;
          margin-right: 10px;
        }
        .info {
          margin:auto;
          width: 70%;
          div {
            display: flex;
            width: 100%;
            span {
              display: flex;
              width: 50%;
              @include responsive-font(calc(#{$font-size-medium} - 3px), calc(#{$font-size-small} - 2px));
            }
          }
        }
        
      }
    }
  }

  .product-title-container {
    padding-right: $ion-app-padding;
    padding-left: $ion-app-padding;
    padding-top: $ion-app-padding;
    p {
      text-align: left;
      color: black;
      white-space: pre-line;
      margin: 0;
    }
    p:nth-child(1) {
      @include responsive-font($font-size-medium, $font-size-small);
      
    }
    p:nth-child(2) {
      @include responsive-font(calc(#{$font-size-medium} - 2px), calc(#{$font-size-small} - 2px));      
      font-weight: bold;
    }
    &.checked {
      p {
        color: color($colors, OrgillRed);
      }
    }
  }
}
