<!-- Scanner Page Header -->
<ion-header>
  <!-- Scanner Page Navigation Bar -->
  <navbar title="{{'menu_search_scan' | translate}}" [isMenuEnabled]="true" [isBackEnabled]="false"></navbar>
  <!-- Scanner Page Tabs-->
  <ion-segment *ngIf="!shoppingList" [(ngModel)]="searchTab">
    <ion-segment-button value="scan_barcode_tab"> {{"scan_barcode_tab" | translate}} </ion-segment-button>
    <ion-segment-button value="search_code_tab"> {{"search_code_tab" | translate}} </ion-segment-button>
  </ion-segment>
  <!-- Scanner Page Search Bar -->
  <search-bar
    *ngIf="searchTab==='search_code_tab'"
    [showBackButton]="!navigatorService.isRootLevel"
    (searched)="onSearched($event)"
  ></search-bar>
</ion-header>

<!-- Scanner Page Content -->
<ion-content padding>
<!--  <p *ngIf="searchTab==='scan_barcode_tab'">{{scanMessage}}</p>-->

<!--  <div class="device-info" *ngIf="isZebraDevice">{{ 'zebra_device_detected' | translate }}</div>-->
<!--  <div class="device-info" *ngIf="!isZebraDevice">{{ 'using_camera_scanner' | translate }}</div>-->

  <div class="scanner-info">
    <!--<p *ngIf="productAlreadyInList && searchTab==='scan_barcode_tab'"> Product is already in list</p>-->
    <!--<p *ngIf="noProductFound">{{"no_products_found" | translate}}</p-->
    <!-- Scanner Page scan button -->

    <button *ngIf="searchTab==='scan_barcode_tab'" ion-button color="OrgillRed" full round (click)="clickCb()">
      {{'start_scan' | translate}}
    </button>
  </div>

  <ion-list *ngIf="products&& searchTab==='search_code_tab'">
    <div *ngFor="let product of products" (click)="goToProductPage(product)">
      <product [product]="product"></product>
    </div>
  </ion-list>
</ion-content>
