page-scanner {
  p {
    text-align: center;
    font-size: $font-size-large;
    font-weight: bold;
  }

  .device-info {
    text-align: center;
    font-size: $font-size-small;
    margin-bottom: 30px;
  }
}
