<!-- Products Search Results Page Header -->
<ion-header>
  <!-- Products Search Results Navigation Bar -->
  <navbar [title]="category ? category.CatName : programName"></navbar>
  <!-- Products Search Results Search Bar -->
  <search-bar [showBackButton]="true"
              (searched)="onSearched($event)"></search-bar>
</ion-header>

<!-- Products Search Results Content-->
<ion-content>
  <ion-list>
    <div *ngFor="let product of products" (click)="goToProductPage(product)">
      <product [product]="product"></product>
    </div>
  </ion-list>
  <!--Products Search Result Pagination -->
  <button ion-button clear block
          *ngIf="isPaginationEnabled"
          (click)="next()">
    <p>{{"load_more_results" | translate}}</p>
  </button>

</ion-content>
