<ion-header class="vendor-nav-header">
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dropship-item-details-content">
  <div class="item-header-wrapper">
    <div class="img-wrapper" *ngIf="formDetails.image && !imageError">
      <img class="item-img" [src]="formDetails.image" (error)="handleMissingImage($event)" (click)="toggleOverlay()" />
    </div>

    <div class="item-price-details">
      <p *ngIf="formDetails.hasOwnProperty('form_name')" class="item-header">{{data.description}}</p>
      <p *ngIf="data.special_cost" class="cost">{{data.special_cost | currency}}</p>
      <p *ngIf="data.savings" class="savings">{{(data.savings * 1).toFixed(2)}}% {{"savings_text" | translate}}</p>
      <span>{{"regular_cost_text" | translate}}</span>
      <p *ngIf="data.regular_cost">{{data.regular_cost | currency}}</p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="item-details-wrapper">
    <p><span>{{"item_number_text" | translate}}:</span> {{data.factory_number}}</p>
    <p><span>{{"minimum_qty_text" | translate}}:</span> {{data.min_qty}}</p>
    <p><span>UPC:</span> {{data.upc_code}}</p>
    <p><span>Orgil Sku:</span> {{data.orgill_sku}}</p>
    <p><span>{{"unit_text" | translate}}:</span> {{data.unit}}</p>

    <div class="description">
      <span>{{"relevant_info_text" | translate}}</span>
      <p>{{data.description}}</p>
    </div>
  </div>
</ion-content>

<checkout-overlay></checkout-overlay>

<div class="dropship-img-overlay" [ngClass]="{'active':isOverlayActive}">
  <button class="overlay-close" ion-button icon-only small clear (click)="toggleOverlay()">
    <ion-icon name="close"></ion-icon>
  </button>

  <div class="img-wrapper">
    <img [src]="formDetails.image" />
  </div>
</div>
