<ion-header>
  <ion-navbar>
    <ion-title>{{"track_order_page_title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="input-container" *ngIf="showCustomInput">
    <div class="input-wrapper">
      <ion-icon name="search"></ion-icon>
      <input #customInput type="text" placeholder="Enter customer ID to find his deliverables" />
    </div>
    <button
      class="disable-hover button button-md button-default button-default-md button-md-OrgillRed"
      (click)="customMethod()"
    >
      Search
    </button>
  </div>

  <div *ngIf="currentDeliveries.length || isLoadingPage || (searchQuery.length >= minSearchLength)">
    <div class="deliveries-header">
      <img class="truck-image" src="../../assets/imgs/Orgill-truck-locate.jpg" />
    </div>

    <div class="search-container">
      <div class="input-wrapper">
        <ion-icon name="search"></ion-icon>
        <input
          type="text"
          placeholder="Search (min 2 characters)"
          [(ngModel)]="searchQuery"
        />
        <ion-icon
          *ngIf="searchQuery.length > 0"
          name="close-circle"
          class="clear-icon"
          (click)="clearSearch()"
        ></ion-icon>
      </div>
      <button
        class="disable-hover button button-md button-default button-default-md button-md-OrgillRed"
        (click)="executeSearch()"
        [disabled]="searchQuery.length < minSearchLength"
      >
        Search
      </button>
    </div>

    <div *ngIf="(searchQuery.length >= minSearchLength && currentDeliveries.length === 0 && !isLoadingPage)" class="loader-container">
      <p>No locations found with ship to number containing "{{searchQuery}}"</p>
    </div>

    <div class="order-container" *ngFor="let order of currentDeliveries">
      <div class="order-header">
        <h5 class="order-subtitle">{{"track_order_customer_name" | translate}}</h5>
        <h4 class="order-title">{{order.customerLocation.customerName}}</h4>
      </div>

      <div
        *ngIf="order.error && order.error === 'The truck has already visited your location.' && order.invoices.length"
        style="margin-top: 10px"
      >
        <h5 class="order-subtitle">{{"track_order_invoices_delivered" | translate}}</h5>
        <div style="margin-top: 10px">
          <span class="order-title" *ngFor="let invoice of order.invoices">{{invoice}}, </span>
        </div>
      </div>

      <div class="order-footer">
        <div>
          <h5 class="order-subtitle">{{"track_order_ship_no" | translate}}</h5>
          <h4 class="order-title">{{order.customerLocation.shipToNo}}</h4>
        </div>

        <p *ngIf="order.error" class="order-error">{{order.error}}</p>
        <button *ngIf="!order.error" class="order-btn" (click)="toggleMap(order)">
          {{"track_order_map_details" | translate}}
        </button>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-container" *ngIf="totalPages > 1">
      <button
        class="pagination-btn"
        [disabled]="currentPage === 1 || isLoadingPage"
        (click)="prevPage()"
      >
        <ion-icon name="arrow-back"></ion-icon> Prev
      </button>
      <div class="pagination-info">
        <span>Page {{currentPage}} of {{totalPages}}</span>
      </div>
      <button
        class="pagination-btn"
        [disabled]="currentPage === totalPages || isLoadingPage"
        (click)="nextPage()"
      >
        Next <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </div>

  <ng-template #noDeliveries>
    <img class="map-not-found" src="../../assets/imgs/no-deliveries.png" />
    <h2 class="map-warning-message">{{errorMessage}}</h2>
  </ng-template>
</ion-content>

<transport-bug-report></transport-bug-report>
