<ion-header>
  <ion-navbar>
    <ion-title>{{"track_order_page_title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="input-container" *ngIf="showCustomInput">
    <div class="input-wrapper">
      <ion-icon name="search"></ion-icon>
      <input #customInput type="text" placeholder="Enter customer ID to find his deliverables" />
    </div>
    <button
      class="disable-hover button button-md button-default button-default-md button-md-OrgillRed"
      (click)="customMethod()"
    >
      Search
    </button>
  </div>

  <div *ngIf="currentDeliveries.length || isLoadingPage || (searchQuery.length >= minSearchLength)">
    <div class="deliveries-header">
      <img class="truck-image" src="../../assets/imgs/Orgill-truck-locate.jpg" />
    </div>

    <div class="search-container">
      <div class="input-wrapper">
        <ion-icon name="search"></ion-icon>
        <input
          type="text"
          placeholder="Search by ship to number (min 2 characters)"
          [(ngModel)]="searchQuery"
        />
        <ion-icon
          *ngIf="searchQuery.length > 0"
          name="close-circle"
          class="clear-icon"
          (click)="clearSearch()"
        ></ion-icon>
      </div>
      <button
        class="disable-hover button button-md button-default button-default-md button-md-OrgillRed"
        (click)="executeSearch()"
        [disabled]="searchQuery.length < minSearchLength"
      >
        Search
      </button>
    </div>

    <div *ngIf="(searchQuery.length >= minSearchLength && currentDeliveries.length === 0 && !isLoadingPage)" class="loader-container">
      <p>No locations found with ship to number containing "{{searchQuery}}"</p>
    </div>

    <div class="order-container" *ngFor="let order of currentDeliveries">
      <div class="order-header">
        <h5 class="order-subtitle">{{"track_order_customer_name" | translate}}</h5>
        <h4 class="order-title">{{order.customerLocation.customerName}}</h4>
      </div>

      <div
        *ngIf="order.error && order.error === 'The truck has already visited your location.' && order.invoices.length"
        style="margin-top: 10px"
      >
        <h5 class="order-subtitle">{{"track_order_invoices_delivered" | translate}}</h5>
        <div style="margin-top: 10px">
          <span class="order-title" *ngFor="let invoice of order.invoices">{{invoice}}, </span>
        </div>
      </div>

      <div class="order-footer">
        <div>
          <h5 class="order-subtitle">{{"track_order_ship_no" | translate}}</h5>
          <h4 class="order-title">{{order.customerLocation.shipToNo}}</h4>
        </div>

        <p *ngIf="order.error" class="order-error">{{order.error}}</p>
        <button *ngIf="!order.error" class="order-btn" (click)="toggleMap(order)">
          {{"track_order_map_details" | translate}}
        </button>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-container" *ngIf="totalPages > 1">
      <button
        class="pagination-btn"
        [disabled]="currentPage === 1 || isLoadingPage"
        (click)="prevPage()"
      >
        <ion-icon name="arrow-back"></ion-icon> Prev
      </button>
      <div class="pagination-info">
        <span>Page {{currentPage}} of {{totalPages}}</span>
      </div>
      <button
        class="pagination-btn"
        [disabled]="currentPage === totalPages || isLoadingPage"
        (click)="nextPage()"
      >
        Next <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>

    <div class="map-container" *ngIf="showMap">
      <button class="order-btn refresh-map" (click)="refreshMap()">{{"track_order_refresh_map" | translate}}</button>

      <div #Map class="map"></div>

      <div class="map-details-container" *ngIf="mapDetails">
        <h4 class="order-title">
          {{"track_order_truck_on_road" | translate}}:
          <span>{{mapDetails.truckId}}</span>
        </h4>

        <div class="travel-wrapper">
          <div class="eta-time">
            <h5 class="order-subtitle">ETA</h5>
            <h4 class="order-title">{{mapDetails.eta}}</h4>
          </div>

          <div class="travel-distance">
            <h5 class="order-subtitle">{{"track_order_distance" | translate}}</h5>
            <h4 class="order-title">{{mapDetails.distance}}</h4>
          </div>
        </div>

        <div class="more-info-wrapper" *ngIf="showMoreInfo">
          <div class="info-customer-wrapper">
            <div class="info-customer">
              <h5 class="order-subtitle">{{"track_order_customer_name" | translate}}</h5>
              <h4 class="order-title">{{mapDetails.customerName}}</h4>
            </div>

            <div class="info-shipping">
              <h5 class="order-subtitle">{{"track_order_ship_no" | translate}}</h5>
              <h4 class="order-title">{{mapDetails.shipToNo}}</h4>
            </div>
          </div>

          <div class="info-invoices-wrapper">
            <h5 class="order-subtitle">{{"track_order_invoices" | translate}}</h5>
            <h4 class="order-title" *ngFor="let invoice of mapDetails.invoices">{{invoice}}</h4>
          </div>
        </div>

        <div class="travel-btns">
          <button class="order-btn" (click)="[showMoreInfo = !showMoreInfo]">
            <span *ngIf="showMoreInfo">{{"track_order_less_info" | translate}}</span>
            <span *ngIf="!showMoreInfo">{{"track_order_more_info" | translate}}</span>
          </button>
          <button class="order-btn empty" (click)="toggleMap()">{{"track_order_other_locations" | translate}}</button>
        </div>
      </div>

      <div class="map-overlay" *ngIf="showMoreInfo"></div>
    </div>
  </div>

  <ng-template #noDeliveries>
    <img class="map-not-found" src="../../assets/imgs/no-deliveries.png" />
    <h2 class="map-warning-message">{{errorMessage}}</h2>
  </ng-template>
</ion-content>

<transport-bug-report [isHidden]="showMap"></transport-bug-report>
