<ion-header>

  <ion-navbar>
    <ion-title>ORDER DETAILS ({{purchase.location_number}})</ion-title>
  </ion-navbar>

  <div id="order_review_div">
    <div>
      <order-item [purchase]="purchase" [isButtonDisabled]="true">
      </order-item>
    </div>
  </div>
</ion-header>

<ion-content *ngIf="purchase">
  <ion-item-group>
    <shopping-list-product *ngFor="let purchaseItem of purchase.purchase_items"
                           [isDisabled]="true"
                           (goToDetails)="onCheckedToDetails($event)"
                           [shoppingListItem]="purchaseItem">
    </shopping-list-product>
  </ion-item-group>
</ion-content>
