<!-- Order Review Page Header -->
<ion-header>
  <!-- Order Review Page Navigation Bar -->
  <navbar [title]="'customer_locations'" [isMenuEnabled]="true" [isBackEnabled]="false"></navbar>
  <!-- Order Review SubHeader -->
  <ion-toolbar id="order-review-sub-header" padding-left padding-right *ngIf="orderMethod">
    <ion-title> {{orderMethod===sendToOrgillMethod?("order_review_orgill_message"| translate):(
      "order_review_checkout_message"|translate)}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Order review main content when no hot deal-->
<ion-content *ngIf="!isHotDeal">
  <ion-item-group>
    <div *ngIf="location" class="location-container">
      <ion-item-divider no-lines class="location-headers">
        <p>{{"customer_locations" | translate}}:</p>
        <p>{{"order_review_total" | translate}}:</p>
      </ion-item-divider>
      <ion-item class="info-container">
        <div class="info">
          <div>
            <span>{{"customer_locations_po" | translate}}:</span>
            <span>{{postOffice}}</span>
          </div>
          <div>
            <span>{{"order_review_location" | translate}}:</span>
            <span>{{location.SHIPTONO}}</span>
          </div>
        </div>
        <p>{{"product_currency"| translate}}{{orderTotal | number: '1.2-2'}}</p>
      </ion-item>

      <ion-item-divider class="ship-header" no-lines>{{"order_review_ship_to" | translate}}:
      </ion-item-divider>
      <ion-item class="ship-container">
        <p> {{location.CUSTOMERNAME}} </p>
        <p> {{location.ADDRESS}} </p>
      </ion-item>
    </div>

    <shopping-list-product *ngFor="let shoppingListItem of shoppingListItems" [isDisabled]="true"
      [shoppingListItem]="shoppingListItem">
    </shopping-list-product>
  </ion-item-group>
</ion-content>


<!-- Order review main content when it's hot deal-->
<ion-content *ngIf="isHotDeal">

  <hot-deal-product [totalPrice] = "getTotalPrice()" [hotDealItem]="{product:hotDealItem.ITEM}" [program]="hotDealItem.PROGRAM">
  </hot-deal-product>

  <ion-item-group>
    <div *ngIf="location" class="location-container">

      <ion-item-divider no-lines class="location-headers">
        <p>{{"customer_locations" | translate}}:</p>
        <p>{{"order_review_total" | translate}}:</p>
      </ion-item-divider>


      <ion-item-divider class="ship-header" no-lines>{{"order_review_ship_to" | translate}}:
      </ion-item-divider>
    </div>

    <ion-item *ngFor="let hotLocation of hotLocations" class="info-container">

      <ion-item class="ship-container">
        <p> {{hotLocation.LOCATION.CUSTOMERNAME}} </p>
        <p> {{hotLocation.LOCATION.ADDRESS}} </p>
        <p> PO#: {{hotLocation.POSTOFFICE}} </p>
        <p> QUANTITY: {{hotLocation.QUANTITY}} </p>
      </ion-item>


    </ion-item>

  </ion-item-group>
</ion-content>

<!-- Shopping footer-->
<ion-footer padding>
  <p>{{"four_percent_note" | translate}}</p>
  <div>
    <button ion-button outline block color="OrgillDarkGray" (click)="cancel()">
      {{"cancel" | translate}}
    </button>
    <button *ngIf="!isHotDeal" ion-button block color="OrgillRed" (click)="purchase()">
      {{"order_review_purchase" | translate}}
    </button>
    <button *ngIf="isHotDeal" ion-button block color="OrgillRed" (click)="purchaseHotDeal()">
      {{"order_review_purchase" | translate}}
    </button>
  </div>
</ion-footer>