@import "../../theme/variables";

page-order-review {
  .label{
    margin: 5px 5px 5px 0;
  }
  ion-header {
    #order-review-sub-header {
      .toolbar-background {
        background: color($colors, OrgillRed);
      }
      ion-title {
        .toolbar-title-md {
          font-weight: bold;
          white-space: pre-line;
          font-size: $font-size-small;
          text-align: center;
        }
      }
    }
  }
  .location-container {
    * {
      background-color: #f1eded;
    }
    .location-headers {
      ion-label {
        display: flex;
        margin-right: 16px;

        p {
          display: flex;
          width: 50%;
        }
        p:nth-child(1) {
          justify-content: flex-start;
        }
        p:nth-child(2) {
          justify-content: flex-end;
        }
      }
    }
    .info-container {
      ion-label {
       // display: flex;
      }
      display:block;
      width: 100%;
      .info{
        display:flex;
        width:100%;
        margin-top:2vh;
      
      .left-info {
        justify-content: flex-start;
        .po-number{
          padding-left: 2px;
        }
        width: 50%;
        div {
          width: 100%;

         // margin-top: 2vh;
          margin-bottom: 1vh;
          span {
            //display: flex;
            flex: 1;
          }
          span:nth-child(1) {
            justify-content: flex-start;
            font-weight: bold;
          }
        }
      }
      .right-info{
        justify-content: flex-end!important;
        width:50%;
        span{
          p:nth-child(1){
            padding-top:3%;
          }
        }
      }
    }
      p {
        width: 50%;
       // display: flex;
        vertical-align: middle;
        margin-top:auto;
        margin-bottom:auto;
      //  align-content: center;
        justify-content: flex-end;
        color: color($colors, OrgillRed);
        font-weight: bold;
        font-size: $font-size-large;
      }
    }
    .ship-container {
      p {
        text-align: left;
        white-space: pre-line;
      }
      p:nth-child(1) {
        font-weight: bold;
      }
    }
  }
  ion-footer {
    p {
      text-align: center;
      color: color($colors, OrgillLightGray);
    }
    div {
      display: flex;
      button {
        display: flex;
        flex: 1;
        border-radius: 10px;
      }
      button:nth-child(1) {
        margin-right: 5px;
      }
      button:nth-child(2) {
        margin-left: 5px;
      }
    }
  }  
}

ion-popover.more-actions{
  ion-backdrop{
    opacity: 0!important;
  }
  .popover-content{
    border-radius:0px!important;
  }
 
}