@import "../../theme/variables";

page-order-confirmation {

  .footer{
    padding:0px!important;
  }

  ion-header {
    .sub-header {
      padding: 5px;
      text-align: center;
      color: white;
      background-color: color($colors, OrgillRed);
      p {
        margin: 0;
        font-weight: bold;
      }
      p:nth-child(1) {
        font-size: $font-size-medium;
      }
      p:nth-child(2) {
        font-size: $font-size-small;
      }
    }
  }

  .total-container{
    width: 100%;
    display: flex;

    .label {
      display: flex;
    }

    .item-inner {
      border: 0 !important;
    }

    span:nth-child(1) {
      margin-left: 16px;
      width: 50%;
      text-align: left;
      font-size: $font-size-large;
      color: color($colors, OrgillDarkGray);
      font-weight: bold;
    }

    span:nth-child(2) {
      text-align: right;
      width: 50%;
      font-size: $font-size-large;
      color: color($colors, OrgillRed);
      font-weight: bold;
    }
  }

}
