<div class="dropship-card">
  <div class="bulina"></div>

  <div class="card-details">
    <p *ngIf="data.hasOwnProperty('form_name')" class="card-name">{{data.form_name}}</p>
    <p *ngIf="data.hasOwnProperty('customer_name')" class="card-name">
      {{data.customer_number}} - {{data.customer_name}}
    </p>
    <p *ngIf="data.hasOwnProperty('order_total') && data.order_total" class="currency">
      {{data.order_total | currency}} USD
    </p>

    <div class="custom-wrapper">
      <p *ngIf="data.hasOwnProperty('user_name')">
        <span>{{"dropship_saved_drafts_placing_order" | translate}}:</span> {{data.full_name}}
      </p>
      <p *ngIf="data.hasOwnProperty('form_order_quantity') && (data.form_order_quantity * 1)">
        <span>{{"dropship_saved_drafts_number_items" | translate}}:</span> {{data.form_order_quantity}}
      </p>
      <p *ngIf="data.hasOwnProperty('number_of_items') && (data.number_of_items * 1) && isDropship">
        <span>{{"dropship_saved_drafts_number_items" | translate}}:</span> {{data.number_of_items}}
      </p>
      <p *ngIf="data.hasOwnProperty('form_type')">
        <span>{{"dropship_saved_drafts_type" | translate}}:</span> {{data.form_type}}
      </p>

      <p *ngIf="data.hasOwnProperty('special_minimum_order') && isDropship">
        <span>{{"dropship_specials_minimum_order" | translate}}:</span> {{data.special_minimum_order | currency}}
      </p>
      <p *ngIf="data.hasOwnProperty('prepaid_freight_minimum') && !isDropship">
        <span>{{"dropship_specials_prepaid_minimum" | translate}}:</span> {{data.prepaid_freight_minimum | currency}}
      </p>
      <p *ngIf="data.hasOwnProperty('special_cash_terms')">
        <span>{{"dropship_specials_special_cash_terms" | translate}}:</span> {{data.special_cash_terms}}
      </p>
      <p *ngIf="data.hasOwnProperty('shipment_terms')">
        <span>{{"ships_text" | translate}}:</span> {{data.shipment_terms}}
      </p>
    </div>
  </div>

  <div class="card-vector">
    <img src="../../assets/vector/vendor-landing-vector.svg" />

    <button
      class="delete-order-btn"
      ion-button
      icon-only
      small
      clear
      *ngIf="isSaveDrafts"
      (click)="deleteCurrentOrder($event)"
    >
      <ion-icon name="trash"></ion-icon>
    </button>
  </div>
</div>
