<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="specials-dropship-content">
  <div *ngIf="categoryList.length ">
    <h3 class="dropship-header">{{pageHeader}}</h3>

    <card
      *ngFor="let category of categoryList"
      [data]="category"
      [isDropship]="isDropship"
      (click)="goToShopItemsPage(category)"
    ></card>
  </div>

  <div *ngIf="!categoryList.length" class="no-data-wrapper">
    <ion-icon name="remove-circle"></ion-icon>
    <h3 class="dropship-header">{{"dropship_specials_no_data" | translate}}</h3>
  </div>
</ion-content>
