page-pog-and-pallet-past-purchases {
  .list-wrapper {
    padding-left: 0;

    .item-inner {
      padding-left: 8px;
    }

    p {
      margin: 5px 0;
    }
  }

  .no-items {
    margin: 10px;
    text-align: center;
  }
}
