page-settings {
    .settingsList{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 20px;
    }
    #chooseBtn {
      color: white;
      height: 30px;
      font-size: 15px;
      background-color: #9A0000;
      border-radius: 5px;
      text-transform: uppercase;
      }
      

  }

