<div id="product-container" ion-item detail-none>
  <div id="image-container">
    <img *ngIf="product.IMAGE != '0000000.jpg'" src="http://images.orgill.com/200x200/{{product.SKU}}.JPG">
    <img *ngIf="product.IMAGE === '0000000.jpg'" src="../../assets/imgs/product_placeholder.png">
  </div>

  <div id="product-info-container">
    <div id="product-info">
      <p> {{product.NAME}}</p>
      <p><b> {{product.VENDOR_NAME}} </b></p>
      <p> {{"product_SKU" | translate}} {{product.SKU}}
        {{product.QTY_ROUND_OPTION}}</p>
    </div>

    <div id="price-container">
      <div>
        <p>
          <b>{{"product_currency" | translate}}{{product.YOURCOST}}</b>
        </p>
        <p>/{{product.SELLING_UNIT}}</p>
      </div>
    </div>
  </div>
</div>
