$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";


$item-md-detail-push-show: true;
$item-wp-detail-push-show: true;
$keyboard-margin-push-amount: 150px;

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  OrgillRed: #9A0000,
  OrgillWhiteGray: #CCCCCC,
  OrgillLightGray: #999999,
  OrgillMediumGray: #666666,
  OrgillDarkGray: #4D4D4D,
  OrgillBlackGray: #404040,
  OrgillGradientLeft: #ffffff,
  OrgillGradientRight: #e5e5e5,
  OrgillMenuGradientLeft: #191919,
  OrgillMenuGradientRight: #0c0c0c
);


$text-input-placeholder-color: #3F3E3F;

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 22px;

$ion-app-padding: 16px;
$ion-app-padding-half: 8px;
$ion-app-padding-double: 32px;

$toolbar-ios-title-text-color: white;
$toolbar-ios-button-color: white;

$segment-button-ios-text-color: color($colors, OrgillRed);
$segment-button-ios-border-width: 0px;

$radio-ios-color-on: color($colors, OrgillRed);
$checkbox-ios-background-color-on: color($colors, OrgillRed);

$popover-ios-border-radius: 10px;
$popover-ios-width: 80%;

$toggle-ios-background-color-off: color($colors, OrgillWhiteGray);
$toggle-ios-background-color-on: color($colors, OrgillRed);

$item-md-detail-push-show: true;

$toolbar-md-title-text-color: white;
$toolbar-md-button-color: white;

$segment-button-md-border-color-activated: color($colors, OrgillRed);

$radio-md-color-on: color($colors, OrgillRed);
$checkbox-md-icon-background-color-on: color($colors, OrgillRed);
$checkbox-md-icon-border-color-on: color($colors, OrgillRed);

$popover-md-border-radius: 10px;
$popover-md-width: 80%;

$toggle-md-handle-background-color-off: color($colors, OrgillLightGray);
$toggle-md-handle-background-color-on: color($colors, OrgillRed);
