@import "../../theme/variables";

hot-deal {
  //display:flex!important;
  .hot-deal-container{
    padding-top:10px!important;
   // min-height: 60px;
    display:flex!important;

      .container {
        align-content: center;
        text-align: center;
        width:100%;
        padding-left:10px;
        padding-right:10px;
        display: flex;
        flex-direction: column;

        .header {
          font-size: $font-size-medium;
          padding-bottom: 10px; 
          color: color($colors, OrgillRed);
          font-weight: 500;
        }
        .info {
          color: color($colors, OrgillDarkGray);
          font-weight: 400;
          word-wrap:break-word;
          white-space: normal;
        }
      }
    }
  }
  .item-divider{
    height:1px!important;
    padding:1px!important;
    padding-bottom:5px!important;
    min-height: 0px!important;
  }
}
