@import "../theme/variables";

ion-header {
  ion-navbar, ion-toolbar {
    div.toolbar-background {
      background: color($colors, OrgillRed) url('../assets/imgs/navbar_background.jpg') no-repeat;
      background-size: cover;
      text-align: center;
    }
  }
}

body.keyboard-is-open .hide-on-keyboard-open{
  display: none!important;
}

ion-menu {
  ion-header {
    .toolbar-background {
      background: color($colors, OrgillRed) url('../assets/imgs/navbar_background.jpg') no-repeat;
      background-size: cover;
      text-align: center;
    }
  }
}

ion-backdrop {
  opacity: 0.6;
}

