@import "../theme/variables";

ion-header {
  ion-navbar, ion-toolbar {
    div.toolbar-background {
      background: url('../assets/imgs/navbar_background.png') no-repeat;
      background-size: cover;
      text-align: center;
    }
  }
}

ion-menu {
  ion-header {
    .toolbar-background {
      background: url('../assets/imgs/navbar_background.png') no-repeat;
      background-size: cover;
      text-align: center;
    }
  }
}

ion-backdrop {
  opacity: 0.6;
}
