@import "../theme/variables";

ion-header {
  ion-navbar, ion-toolbar {
    div.toolbar-background {
      background: url('../assets/imgs/navbar_background.jpg') no-repeat;
      background-size: cover;
      text-align: center;
    }
  }
}

body.keyboard-is-open .hide-on-keyboard-open {
  display: none;
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

ion-menu {
  ion-header {
    .toolbar-background {
      background: url('../assets/imgs/navbar_background.jpg') no-repeat;
      background-size: cover;
      text-align: center;
    }
  }
}

ion-backdrop {
  opacity: 0.6;
}

