<ion-header>
  <ion-navbar>
    <ion-title>{{"dropship_page_customer_info_title" | translate | uppercase}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dropship-content customer-info">
  <h3 class="dropship-header">{{"dropship_customer_info_header" | translate}}</h3>

  <div class="form-wrapper">
    <form class="customer-info-form" [formGroup]="customerInfoForm">
      <ion-list>
        <ion-item class="input-item-wrapper">
          <ion-label class="input-label" stacked>
            {{"dropship_customer_info_customer_number" | translate}}<span>*</span>:
            <span *ngIf="formControls.customer_number.errors?.required && formControls.customer_number.touched">
              ({{"required_text" | translate}})
            </span>
            <span
              *ngIf="formControls.customer_number.touched && (formControls.customer_number.errors?.pattern || isInvalidNumber)"
            >
              ({{"not_valid_num_text" | translate}})
            </span>
          </ion-label>
          <ion-input
            class="input-item"
            formControlName="customer_number"
            type="tel"
            inputmode="numeric"
            (focusout)="handleCustomerNumber($event.target.value)"
            (keydown.enter)="$event.target.blur()"
            (ngModelChange)="handleCustomerNumberChange()"
          ></ion-input>
        </ion-item>

        <div class="username-container">
          <ion-item class="input-item-wrapper">
            <ion-label class="input-label" stacked>
              {{"dropship_customer_info_user_name" | translate}}<span>*</span>:
              <span *ngIf="formControls.selected_user.errors?.required && formControls.selected_user.touched">
                ({{"required_text" | translate}})
              </span>
            </ion-label>

            <ion-select
              class="input-item"
              formControlName="selected_user"
              (ngModelChange)="handleSelect($event)"
              [disabled]="!usernames.length"
              interface="popover"
            >
              <ion-option *ngFor="let user of usernames" [value]="user">
                {{user.full_name}} ({{user.user_name}})
              </ion-option>
            </ion-select>
          </ion-item>

          <ion-spinner *ngIf="isUsernamesLoading" class="username-spinner"></ion-spinner>
        </div>

        <ion-item class="input-item-wrapper">
          <ion-label class="input-label" stacked>
            {{"dropship_customer_info_first_name" | translate}}<span>*</span>:
            <span *ngIf="formControls.first_name.errors?.required && formControls.first_name.touched">
              ({{"required_text" | translate}})
            </span>
          </ion-label>
          <ion-input class="input-item" formControlName="first_name" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item-wrapper">
          <ion-label class="input-label" stacked>
            {{"dropship_customer_info_last_name" | translate}}<span>*</span>:
            <span *ngIf="formControls.last_name.errors?.required && formControls.last_name.touched">
              ({{"required_text" | translate}})
            </span>
          </ion-label>
          <ion-input class="input-item" formControlName="last_name" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-item-wrapper">
          <ion-label class="input-label" stacked
            >Email<span>*</span>:
            <ng-container *ngIf="formControls.email.touched">
              <span *ngIf="formControls.email.errors?.required "> ({{"required_text" | translate}}) </span>
              <span *ngIf="formControls.email.errors?.email  "> ({{"invalid_email_text" | translate}}) </span>
            </ng-container>
          </ion-label>
          <ion-input class="input-item" formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item class="input-item-wrapper">
          <ion-label class="input-label" stacked>
            {{"dropship_customer_info_phone_number" | translate}}<span>*</span>:
            <span *ngIf="formControls.phone.errors?.required && formControls.phone.touched">
              ({{"required_text" | translate}})
            </span>
          </ion-label>
          <ion-input class="input-item" formControlName="phone" type="tel"></ion-input>
        </ion-item>

        <ion-item class="input-item-wrapper">
          <ion-label class="input-label" stacked>
            {{"dropship_customer_info_ship_date" | translate}}<span>*</span>:
            <span *ngIf="formControls.ship_date.errors?.required && formControls.ship_date.touched">
              ({{"required_text" | translate}})
            </span>
          </ion-label>
          <ion-datetime
            class="input-item"
            formControlName="ship_date"
            displayFormat="MM/DD/YYYY"
            [min]="minDatePickerValue"
          ></ion-datetime>
        </ion-item>

        <ion-item class="input-item-wrapper">
          <ion-label class="input-label" stacked>{{"dropship_customer_info_po_number" | translate}}:</ion-label>
          <ion-input class="input-item" formControlName="po_number" type="text" maxlength="15"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <div class="btn-group">
    <!-- <button class="btn-save-draft" ion-button block [disabled]="!customerInfoForm.valid" (click)="saveForm()">
    {{"dropship_save_draft" | translate}}
  </button> -->
    <button class="btn-next-step" ion-button block [disabled]="!customerInfoForm.valid" (click)="saveForm()">
      {{"dropship_next_step" | translate}}
    </button>
  </div>
</ion-content>
