.search-container {
  display: flex;
  background-color: white;
  .back-button-container {
    width: 20%;
    height: 100%;
    display: block;
    flex-grow: 2;
    
    img {
      width: 100%;
      height: 100%;
    }
    .backbutton{
      display: flex;
      min-height: 100%;
      .left-component{
        width:50px;
        height: 47px;
        background-color: color($colors, OrgillRed);
        .arrow{
          display:block;
          height: 47px;
          width:auto;
          align-content: center;
          background: url(../../assets/vector/arrow.svg);
          background-repeat: no-repeat;
          background-size: 30%;
          background-position: center center;
        }
      }
      .right-component{
 
       border-top: 47px solid color($colors, OrgillRed);
        border-right: 15px solid transparent;
      }
    }
  }
  .search-input-container {
    width: -webkit-fill-available;
    background: linear-gradient(to right, color($colors, OrgillGradientLeft) 0%, color($colors, OrgillGradientRight) 100%);

    &.has-btn {
      .input-wrapper {
        margin-left: 0 !important;
      }
      .text-input-md {
        margin: 13px 8px;
      }
    }

    .text-input-md {
      margin: 0;
    }

    .input {
      color: color($colors, OrgillDarkGray);
      font-style: italic;

      ::placeholder {
        color: color($colors, OrgillMediumGray);
        font-style: italic;
      }
    }
    ion-icon {
      color: color($colors, OrgillDarkGray);
    }
  }
}

.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom: 0 !important;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

#products-found-container {
  background: linear-gradient(to right, color($colors, OrgillGradientLeft) 20%, color($colors, OrgillGradientRight) 100%);
  text-align: right;
  padding: 2px;
  color: grey;
}
