<div class="search-container">

  <div *ngIf="showBackButton" class="back-button-container" (click)="back()">
    <img src="assets/imgs/back_button.png">
  </div>

  <ion-item class="search-input-container" no-lines no-border>
    <ion-input type="text" placeholder="{{'search_hint' | translate}}"
               [(ngModel)]="searchString"
               (keyup.enter)="search()"></ion-input>
    <button ion-button icon-only clear item-right (click)="search()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-item>
</div>
