@import "../../theme/variables";

page-customer-location {

  .customer-number {
    color: #858585;
    font-size: 14px;
  }

  .button-container{
    padding-top:5px;
    display: flex;
    align-content: center;
    justify-content: center;


    .button-md{
      margin:3px;
      border-radius: 8px;
      height: 5rem;
      font-size: $font-size-medium;
      align-items: center;
      font-weight: 600;
      width:45%;
      background-color: color($colors, OrgillRed);
      color: white;
    }
  }
  .post-container {
    background-color: #f1eded;
    ion-item, ion-item-divider {
      background-color: inherit;
      padding: 0;
    }
    .text-input-md {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      font-style: italic;
    }
  }

  .no-location{
    ion-label.label{
      word-wrap: break-word!important;
      text-overflow: none!important;
      overflow: visible!important;
      white-space: normal!important;
    }
}

  .locations-container {
    padding-top: 2px!important;

    ion-item, ion-item-divider {
      padding: 0 !important;
    }
    ion-item-divider {
      text-transform: uppercase;
    }

    ion-label {
      p {
        white-space: pre-line;
        text-align: left;
        color: black;
      }
      p:nth-child(1) {
        font-size: $font-size-medium;
        font-weight: bold;
        &.active {
          color: color($colors, OrgillRed);
        }
      }
    }
  }

  ion-footer {
    background-color: white;
    button {
      padding: 25px !important;
      border-radius: 7px !important;
      font-size: 35px;
    }
    button:nth-child(1) {
      margin-bottom: 10px;
      font-size: $font-size-medium;
    }
  }

  .checkbox-item{
    padding:5px;
  }

  .item-inner{
    border:none!important;
  }

  ion-input::placeholder {
    color: color($colors, OrgillRed);
    opacity: 1;
  }

  ion-input {
    border: 2px;
    border-radius: 35px;
    border-style: solid;
    input{
      text-align: center!important;
      padding-right:0px!important; //fix for clear-input
    }
  }

  .qtybutton{
    position: absolute;
    left:-5%;
    top:20%;
  }

  .item-md.item-input .item-inner {
    box-shadow: none!important;
    border-bottom: none!important;
    }


}
