@import "../../theme/variables";

page-customer-location {
  .post-container {
    background-color: #f1eded;
    ion-item, ion-item-divider {
      background-color: inherit;
      padding: 0;
    }
    .text-input-md {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      font-style: italic;
    }
  }
  .locations-container {
    ion-item, ion-item-divider {
      padding: 0 !important;
    }
    ion-item-divider {
      text-transform: uppercase;
    }
    ion-label {
      p {
        white-space: pre-line;
        text-align: left;
        color: black;
      }
      p:nth-child(1) {
        font-size: $font-size-medium;
        font-weight: bold;
        &.active {
          color: color($colors, OrgillRed);
        }
      }
    }
  }

  ion-footer {
    background-color: white;
    button {
      padding: 25px !important;
      border-radius: 7px !important;
    }
    button:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  .checkbox-item{
    padding:5px;
  }

  .item-inner{
    border:none!important;
  }

  ion-input::placeholder {
    color: color($colors, OrgillRed);
    opacity: 1;
  }

  ion-input {
    border: 2px;
    border-radius: 35px;
    border-style: solid;
    input{
      text-align: center!important;
      padding-right:0px!important; //fix for clear-input
    }
  }
  
  .qtybutton{
    position: absolute;
    left:-5%;
    top:20%;
  }

  .item-md.item-input .item-inner {
    box-shadow: none!important;
    border-bottom: none!important;
    }
}
