@import "../../theme/variables";

product-pricing {
  .item-radio {
    .label {
      padding-left: 0 !important;
    }
    .radio {
      margin-right: $ion-app-padding !important;
    }
  }
  ion-item {
    &.item-radio-checked {
      .catalog-info, .price-info {
        p {
          color: color($colors, OrgillRed);
        }
      }
    }
    ion-label {
      display: flex;
      .catalog-info {
        width: 70%;
      }
      .price-info {
        width: 30%;
      }
      .catalog-info, .price-info {
        p {
          font-size: $font-size-medium;
          font-weight: bold;
          color: color($colors, OrgillDarkGray);
        }
      }
    }
  }

}
