@import "../../theme/variables";

product-pricing {
  ion-item-group {
    border-bottom: 1px solid #dedede;
  }
  .item-radio {
    .label {
      padding-left: 0 !important;
    }
    .radio {
      margin: 0!important;
      display: flex !important;
      justify-content: center !important;
    }
  }
  ion-item {
    &.item-radio-checked {
      .catalog-info, .price-info {
        p {
          color: color($colors, OrgillRed);
        }
      }
    }
    &.item-md {
      padding-right: 16px;
    }
    ion-label {
      display: flex;
      .catalog-info {
        width: 70%;
        min-width: 70%;
        p {
          text-align: left !important;
        }
        p:nth-child(2) {
          font-size: $font-size-small;
          font-weight: 300;
        }
      }
      .price-info {
        width: 30%;
        p {
          text-align: right !important;
        }
      }
      .catalog-info, .price-info {
        p {
          font-size: $font-size-medium;
          font-weight: bold;
          color: color($colors, OrgillDarkGray);
        }
      }
    }
  }

}
