@import '../../theme/variables.scss';
navbar {
  ion-navbar {
    .toolbar-content {
      display: flex !important;
    }
    .back {
      width: 10%;
      color: white;
      position: relative;
      left: 15px;
      font-size: 35px;
    }
  }
  
  ion-title{
    width:80%;
    text-overflow: ellipsis;
  }

  .toolbar-title{
    // TODO: Replace all calcs 2px with variables.
    @include responsive-font($font-size-medium, calc(#{$font-size-medium} - 2px));
  }
}
