<!-- App navbar -->
<ion-navbar hideBackButton>
  <!-- NavBar Menu Icon Button -->
  <button *ngIf="isMenuEnabled" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <!-- NavBar Back Icon -->
  <ion-icon class="back" *ngIf="isBackEnabled" name="ios-arrow-back" (click)="back()"></ion-icon>
  <!-- NavBar Title -->
  <ion-title>{{title | replaceMarketOnlyCart | translate}}</ion-title>

  <!-- Custom Icons Buttons for Pages -->
  <ion-buttons end *ngIf="customButtons">
    <button
      *ngFor="let button of customButtons"
      class="{{button.identifier === 'regular-catalog-info-btn' ? 'regular-catalog-info-btn':''}}"
      ion-button
      icon-only
      (click)="buttonActions(button.action, $event)"
    >
      <ion-icon [name]="button.icon"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
