navbar {
  ion-navbar {
    .toolbar-content {
      display: flex !important;
    }
    .back {
      width: 10%;
      color: white;
      position: relative;
      left: 15px;
      font-size: 35px;
    }
  }
  
  ion-title{
    width:80%;
    text-overflow: ellipsis;
  }
}
