<div class="container">
  <h3>Pallet Details:</h3>
  <div class="details-wrapper">
    <div>
      <p><b>Booth:</b> {{data?.booth}}</p>
      <p><b>Buyer name:</b> {{data?.buyername}}</p>
      <p><b>Currency:</b> {{data?.currency}}</p>
      <p><b>Department Name:</b> {{data?.deptname}}</p>
      <p><b>Form Name:</b> {{data?.formname}}</p>
      <p><b>Pallet id:</b> {{data?.palletID}}</p>
      <p><b>Register cash terms:</b> {{data?.regcashterms}}</p>

      <p><b>Register freight terms:</b> {{data?.regfreightterms}}</p>
      <p><b>Register price:</b> {{data?.regprice}}</p>
      <p><b>Register shipment terms:</b> {{data?.regshipmentterms}}</p>
      <p><b>Shipment options:</b> {{data?.shipmentoptions}}</p>
      <p><b>SPL price:</b> {{data?.splprice}}</p>
      <p><b>Total pallet quantity:</b> {{data?.totalpalletqty}}</p>
      <p><b>Vendor number:</b> {{data?.vendorno}}</p>
    </div>
  </div>
</div>
