<div class="container">
  <h3>Pallet Details:</h3>
  <div class="details-wrapper">
    <div>
      <!-- <p><b>Booth:</b> {{data?.booth}}</p> -->
      <p><b>Currency:</b> {{data?.currency}}</p>
      <p><b>Department Name:</b> {{data?.deptname}}</p>
      <p><b>Pallet Name:</b> {{data?.formname}}</p>
      <p><b>Pallet id:</b> {{data?.palletID}}</p>
      <p><b>Register cash terms:</b> {{data?.regcashterms}}</p>
      <p><b>Register freight terms:</b> {{data?.regfreightterms}}</p>
      <p><b>Register price:</b> {{data?.regprice}}</p>
      <p><b>Register shipment terms:</b> {{data?.regshipmentterms}}</p>
      <p><b>Prepaid Shipment:</b> {{data?.shipmentoptions === 'N' ? 'No' : 'Yes'}}</p>
      <p><b>SPL price:</b> {{data?.splprice | number: '1.2-2'}}</p>
      <p><b>Price:</b> {{data?.regprice | number: '1.2-2'}}</p>
      <p><b>Total pallet quantity:</b> {{data?.totalpalletqty}}</p>
      <p><b>Vendor number:</b> {{data?.vendorno}}</p>
      <p><b>Vendor name:</b> {{data?.vendorname }}</p>
    </div>
  </div>
</div>
