<div class="container">
  <h3>PALLET DETAILS</h3>
  <div class="details-wrapper">
    <div>
      <!-- <p><b>Booth:</b> {{data?.booth}}</p> -->
      <p><b>Department Name:</b> {{data?.deptname}}</p>
      <p><b>Pallet Name:</b> {{data?.formname}}</p>
      <p><b>Pallet id:</b> {{data?.palletID}}</p>
      <p><b>Pallet Type: </b>{{data?.pallettype}}</p>
      <p><b>Regular cash terms:</b> {{data?.regcashterms}}</p>
      <p><b>Regular freight terms:</b> {{data?.regfreightterms}}</p>
      <p><b>Regular price:</b> {{data?.currency == 'USD' ? "$" : "C$"}} {{data?.regprice}}</p>
      <p><b>Regular shipment terms:</b> {{data?.regshipmentterms}}</p>
      <p><b>Prepaid Shipment:</b> Yes </p>
      <p><b>Special price:</b> {{data?.currency == 'USD' ? "$" : "C$"}}{{data?.splprice | number: '1.2-2'}}</p>
<!--      <p><b>Price:</b> {{data?.currency == 'USD' ? "$" : "C$"}} {{data?.regprice | number: '1.2-2'}}</p>-->
      <p><b>Total pallet quantity:</b> {{data?.totalpalletqty}}</p>
      <p><b>Vendor number:</b> {{data?.vendorno}}</p>
      <p><b>Vendor name:</b> {{data?.vendorname }}</p>
    </div>
  </div>
</div>
