<div class="card-wrapper" [ngClass]="{'selected': isSelected && (isDropship || !formDetails)}">
  <div class="card-content-column" (click)="handleClick()">
    <div class="checkbox-wrapper">
      <ion-checkbox
        *ngIf="isDropship || !formDetails"
        [(ngModel)]="isSelected"
        (click)="handleCheckbox()"
      ></ion-checkbox>

      <p *ngIf="data.hasOwnProperty('form_name')" class="card-header">{{data.form_name}}</p>
      <p *ngIf="data.hasOwnProperty('description')" class="card-header">{{data.description}}</p>
    </div>

    <p *ngIf="data.hasOwnProperty('total_pallet_qty')">
      <span>{{"dropship_total_pallet_qty" | translate}}}}:</span> {{data.total_pallet_qty}}
    </p>
    <p *ngIf="data.hasOwnProperty('shipment_terms')">
      <span>{{"dropship_shipment_terms" | translate}}:</span> {{data.shipment_terms}}
    </p>
    <p *ngIf="data.hasOwnProperty('pallet_type')">
      <span>{{"dropship_pallet_type" | translate}}:</span> {{data.pallet_type}}
    </p>
    <p *ngIf="data.hasOwnProperty('special_cash_terms')">
      <span>{{"dropship_special_cash_terms" | translate}}: </span> {{data.special_cash_terms}}
    </p>
    <p *ngIf="data.hasOwnProperty('ships')"><span>{{"ships_text" | translate}}:</span> {{data.ships}}</p>

    <p *ngIf="data.hasOwnProperty('factory_number')">
      <span>{{"dropship_item_number" | translate}}:</span> {{data.factory_number}}
    </p>
    <p *ngIf="data.hasOwnProperty('min_qty')"><span>{{"minimum_qty_text" | translate}}:</span> {{data.min_qty}}</p>
    <p *ngIf="data.hasOwnProperty('upc_code')"><span>UPC:</span> {{data.upc_code}}</p>
    <p *ngIf="data.hasOwnProperty('unit')"><span>{{"unit_text" | translate}}:</span> {{data.unit}}</p>
  </div>

  <div class="card-details-column">
    <div class="details-wrapper">
      <p *ngIf="data.total_special_cost" class="card-header">{{data.total_special_cost | currency}}</p>
      <p *ngIf="data.regular_cost" class="card-header">{{data.special_cost | currency}}</p>
      <p *ngIf="data.savings" class="savings">{{(data.savings * 1).toFixed(2)}}% {{"savings_text" | translate}}</p>

      <ng-container *ngIf="data.hasOwnProperty('item_market_cost')">
        <p class="card-subtitle">{{"dropship_item_market_cost" | translate}}</p>
        <p>{{data.item_market_cost | currency}}</p>
      </ng-container>
    </div>

    <div class="card-counter-wrapper" *ngIf="isSelected && (isDropship || !formDetails)">
      <button
        ion-button
        icon-only
        small
        clear
        [ngClass]="{'disabled': selectedQuantity === ((data.min_qty * 1) || 1)}"
        (click)="handleCounterAction()"
      >
        <ion-icon name="remove"></ion-icon>
      </button>

      <input
        clearInput
        min="1"
        maxlength="5"
        type="tel"
        inputmode="numeric"
        pattern="^[0-9]"
        [(ngModel)]="selectedQuantity"
        (focusout)="handleQuantityChange($event.target.value)"
        (keydown.enter)="$event.target.blur()"
      />

      <button ion-button icon-only small clear (click)="handleCounterAction('add')">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>
</div>
