<!-- Shopping Lists Page Header -->
<ion-header>
  <!-- Shopping Lists Navigation Bar -->
  <navbar [customButtons]='menuCustomButtons' [title]="shoppingList ? shoppingList.ListName: ''" [isMenuEnabled]="true"
    [isBackEnabled]="false" (buttonClicked)="buttonClicked($event)"></navbar>
  <!-- Shopping Lists Search Bar -->
  <search-bar [showBackButton]="true" (searched)="onSearched($event)"></search-bar>
</ion-header>

<ion-content (ionScrollStart)="scrollStart()">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" (ionStart)="refreshPulling($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>


  <ion-item-group *ngIf="shoppingListItems.length">
      <ion-item-divider no-lines>
        <span> {{"shopping_list_items_label" | translate}}: </span>
        <span> {{"product_quantity" | translate}}: </span>
      </ion-item-divider>
      <shopping-list-product (touchstart)="touchstart(shoppingListItem)" (touchend)="touchend()" *ngFor="let shoppingListItem of shoppingListItems; index as i" [isDisabled]="!isCheckout&&!isDeleteMode"
        (checked)="onChecked($event,i)" (goToDetails)="onCheckedToDetails($event)"
        [shoppingListItem]="shoppingListItem">
      </shopping-list-product>
    </ion-item-group>

    <p *ngIf="!shoppingListItems.length">{{"shopping_list_no_items_added" | translate}}</p>

</ion-content>

<ion-footer class="footer" padding>
  <div *ngIf="isCheckout || isDeleteMode ">
    <button ion-button outline block color="OrgillRed" (click)="delete()">
      {{"modal_button_delete" | translate}}
    </button>
    <button ion-button outline block color="OrgillDarkGray" (click)="selectAll()">
      {{ isSelectAll ? ("shopping_list_deselect_all" | translate) :
      ("shopping_list_select_all" | translate) }}
    </button>
  </div>
  <div *ngIf="isCheckout">
    <div>
      {{"order_review_total" | translate}}:
    </div>
    <div>
      {{"product_currency" | translate}} {{orderTotal| number: '1.2-2'}}
    </div>
  </div>
  <button *ngIf="isCheckout" ion-button block (click)="continue()" color="OrgillRed">
    {{"continue"| translate}}
  </button>
  <button *ngIf="!isCheckout&&!isDeleteMode" ion-button block (click)="checkout()" color="OrgillRed">
    {{"shopping_list_checkout" | translate}}
  </button>

</ion-footer>