<div class="product-title-container">
  <p>{{purchasedItem.name}}</p>
  <p>{{purchasedItem.vendor_name}}</p>
</div>

<ion-item class='ion-item-border'>
  <ion-label (click)="clickHandler()">
    <button ion-item no-lines detail-none>
      <div class="shopping-list-container">
        <div class="img-container">
          <img *ngIf="!imageIsLoading" [src]="imageURL">
          <ion-spinner *ngIf="imageIsLoading===true"></ion-spinner>
        </div>
        <div class="info">
          <div>
            <span>{{"product_SKU" | translate}}:</span>
            <span>{{purchasedItem.sku}} {{purchasedItem.qty_round_option}}</span>
          </div>
         <div>
            <span>{{"product_item_price" | translate}}:</span>
            <span>{{"product_currency" | translate}}{{purchasedItem.price|
              number:'1.2-2'}}/{{purchasedItem.selling_unit}}</span>
          </div>
         <!-- <div>
            <span>{{"product_total_price" | translate}}:</span>
            <span>{{"product_currency" | translate}}{{ 1 |
              number:'1.2-2'}}</span>
          </div>
          -->
        </div>
        <div class="quantity">
         <p> {{purchasedItem.quantity}}</p>
        </div>
      </div>
    </button>
  </ion-label>
</ion-item>
