<div>
  <ion-item>
    <div class="info">
      <span>{{"product_item_price" | translate }}:</span>
      <span>{{"product_currency" | translate}}{{program.PRICE}}</span>
    </div>
    <div *ngIf="hotDeal" class="info">
      <span>{{"regular_catalog_price" | translate}}:</span>
      <span>{{"product_currency" | translate}}{{regularPrice}}</span>
    </div>
    <!-- <div class="info">
      <span>{{"product_retail_price" | translate}}:</span>
      <span>{{"product_currency" | translate}}{{product.SUGGESTED_RETAIL}}</span>
    </div> -->
  
    <div *ngIf="savings && this.program.PROGRAM_NO" class="info green">
      <span>{{"savings_text" | translate}}:</span>
      <span>{{savings}}</span>
    </div>

    <div *ngIf="hotDeal && program.MAXQTY > 0 " class="info red">
      <span>{{"max_quantity_location_text" | translate}}:</span>
      <span>{{program.MAXQTY}}</span>
    </div>

  </ion-item>

  <ion-item *ngIf="!hotDeal" no-lines id="quantity-content">
    <div id="title">
      <p>{{"product_quantity" | translate}}:</p>
    </div>
    <div class="buttons">
      <div>
        <button ion-button icon-only small clear (click)="remove()">
          <ion-icon name="remove" color="OrgillRed"></ion-icon>
        </button>
        <label>
          <input clearInput (focusout)="handleQuantityChange()" (keyup.enter)="$event.target.blur()" min="1" maxlength="5" type="tel" inputmode="numeric" pattern="^[0-9]"
                 [(ngModel)]="quantity"/>
        </label>
        <button ion-button icon-only small clear (click)="add()">
          <ion-icon name="add" color="OrgillRed"></ion-icon>
        </button>
      </div>
    </div>
  </ion-item>
  <ion-item *ngIf="!hotDeal" class="total-price">
    <span #totalLabel>{{"product_total_price" | translate}}:</span>
    <span>{{"product_currency" | translate}}{{total | number: '1.2-2'}}</span>
  </ion-item>
  <p *ngIf="product.QTY_ROUND_OPTION === 'Y'" class="percent-Note">{{"four_percent_note" | translate}}</p>
</div>
