<!-- Products Page Header -->
<ion-header>
  <!-- Products Navigation Bar -->
  <navbar [title]="category ? category.catName : programName" [isMenuEnabled]="true" [isBackEnabled]="false"></navbar>
  <!-- Products Search Results Search Bar -->
  <search-bar [showBackButton]="true" (searched)="onSearched($event)"></search-bar>
</ion-header>
<!-- Products  Content-->
<ion-content>
  <!-- Products list -->
  <ion-list *ngIf="products.length">
    <div *ngFor="let product of products" (click)="goToProductPage(product)">
      <!-- Product Component-->
      <product [product]="product"></product>
    </div>
  </ion-list>
  <!-- Products Page error message -->
  <div *ngIf="!products.length && !isLoading" class="no-products">{{"no_products_found" | translate}}</div>
  <!--Products Pagination -->
  <div class="show-more">
    <button ion-button clear block class="show-more" *ngIf="isPaginationEnabled" (click)="next()">
      <p>{{"load_more_results" | translate}}</p>
    </button>
  </div>
</ion-content>
