@import "../../theme/variables";
page-purchases {
    ion-list{
        margin-bottom:2px!important;
    }
    ion-content{
        p{
            padding-left:5px;
        }
    }
    .no-items{
        text-align: center;
        font-weight: 400;
        font-size: $font-size-medium;
    }
}
