<div class="checkout-overlay" [ngClass]="{'hidden':!checkoutItems.length}">
  <div class="checkout-wrapper">
    <h4>{{"dropship_checkout_overlay_order_total" | translate}} ({{checkoutItems.length}})</h4>
    <h4>{{totalCost | currency}}</h4>
  </div>

  <div class="checkout-wrapper" *ngIf="requiredMinimum">
    <p>{{"dropship_checkout_overlay_required_minimum" | translate}}</p>
    <p>{{requiredMinimum | currency}}</p>
  </div>

  <div class="checkout-wrapper">
    <p>{{"customer_number" | translate}}</p>
    <p>{{currentUser.customer_number}}</p>
  </div>

  <div class="checkout-wrapper">
    <button class="btn btn-primary save-draft" (click)="saveDraft()">{{"dropship_save_draft" | translate}}</button>
    <button
      class="btn btn-primary checkout"
      [ngClass]="{'disabled': totalCost < requiredMinimum}"
      (click)="handleCheckout()"
    >
      {{(isCheckout ? "dropship_submit_order" : "dropship_checkout") | translate}}
    </button>
  </div>
</div>
