@import '../../theme/variables';

app-menu {
  button .button-effect {
    display: none !important;
  }

  #main_menu {
    &:not(.isSecondaryMenuVisible) .scroll-content {
      margin-top: 56px !important;
    }

    &.isSecondaryMenuVisible .scroll-content {
      margin-top: 0 !important;
    }

    div.catalogs {
      button {
        .label {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis !important;
          &.label-md {
            display: block !important;
            align-items: center;
          }
        }
      }
    }
    .content {
      background: color($colors, OrgillDarkGray) linear-gradient(to left, #4c4c4c, #333333);

      .group {
        & * {
          background-color: transparent;
          padding-left: 0 !important;
        }

        .item-md.item-block .item-inner {
          border-bottom: 1px solid color($colors, OrgillMediumGray);
        }

        button {
          color: white;
          .label {
            padding-left: 16px !important;

            &.label-md {
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
          }
          .menu-icon {
            line-height: 1;
            padding-right: 0 !important;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            max-width: 20px;
          }
        }
      }
    }
  }

  .item-inner {
    padding-right: $ion-app-padding;
    .label {
      padding-left: $ion-app-padding;
      margin-right: 0;
    }
  }

  .home-icon {
    height: 19px;
  }

  .item-divider {
    background-color: transparent;
    color: gray !important;
    margin-bottom: 0 !important;
    margin-left: $ion-app-padding-half;
    margin-right: $ion-app-padding-half;
  }

  .flash_icon {
    margin-left: 6px;
    margin-right: 6px;
  }
}
