app-menu {
  .content {
  }

  .group {
    background-color: transparent;
  }

  .divider {
    background-color: transparent;
    margin-top: 0.7em;
  }

  .item {
    background-color: transparent;
    color: white;
  }
}
