@import "../../theme/variables";

page-add-to-shopping-list {
  form {
    border-bottom: 1px solid #dedede;
    ion-item {
      padding-right: 16px !important;

      ion-label {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: $font-size-medium;
        flex: 1;
        white-space: normal;
        justify-content: flex-start;
        text-overflow: ellipsis;
        word-break: break-all;


        ion-radio {
          display: flex !important;
          justify-content: flex-end;
          flex: 1;
        }
      }
    }
    .list-md {
      margin: -1px 0 0px;
    }
  }
  .header {
    ion-label {
      font-size: $font-size-small !important;
    }
    border: 0;
  }
  .add-shopping-list {
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 5px;
    margin-right: 16px;
    width: -webkit-fill-available;
    margin-left: 16px;
    align-items: center;
    background-color: #dedede;
    height: 50px;
    font-size: 15px;
    ion-icon {
      display: flex;
      align-items: center;
    }
    ion-icon::before {
      font-size: 30px;
      margin-right: 10px;
    }
    &.button-md.activated {
      background-color: #BBBBBB;
    }
  }
  ion-footer {
    border: 0;
    &.footer-container {
      display: flex;

      button {
        display: flex;
        flex: 1;
        height: 50px;
        border-radius: 7px;
        font-size: 17px;
        align-items: center;
      }
      button:nth-child(1) {
        color: black;
        border-color: black;
        margin-right: 5px;
      }
      button:nth-child(2) {
        margin-left: 5px;
        color: white;
        background-color: color($colors, OrgillRed);
      }
    }
  }
  .footer-md::before {
    display: none;
  }
}
